body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
}

.CodeMirror {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

.CodeMirror-scroll {
  
}

#editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.buttons {
  padding: 2px;
  height: 25px;
  display:none;
}
